{% extends "../layout.html" %} {% load static %} {% block content %}

<link href="{% static '/migrator_app/css/modal.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static '/migrator_app/css/add_source.css' %}" rel='stylesheet' type='text/css' />

<br>
<div class="tile is-parent is-vertical">
    <article class="tile is-child notification is-dark">
        <p class="title has-text-centered">Add New Source Repository :</p>
        <hr>
        <form action="../addsource/" method="post" onsubmit="return check_github_for_source_repo(this)">
            {% csrf_token %}
            <div class="field is-horizontal">

                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input id="source_repo" class="input" type="text" name="source_repo" pattern='^https:\/\/github.com\/\S*\/\S*(?<!/)' title="Use full url with no whitespace - IE : https://github.com/PythonWizards/MigratorTesting"
                                placeholder="https://github.com/PythonWizards/MigratorTesting" required>
                        </p>
                    </div>
                </div>

                <div class="field-label is-small">
                    <label class="label">
                        <input class="button is-white is-medium" type="submit" value="SAVE">
                    </label>
                </div>

            </div>
        </form>
    </article>
</div>

<div class="tile is-parent">
    <article class="tile is-child notification is-info">
        <p class="title centered has-text-centered">Saved Source Repositories :</p>
        <hr>
        <ul>
            {% for source_repo in source_repos %}
            <li class="source_repo_list">
                <span class="is-size-4 sr-{{source_repo.id}}">{{ source_repo.url }}</span>
                <span> | </span>
                <span class="is-pulled-right">
                    <a id="{{source_repo.id}}" class="delete _delete" href="#">Delete</a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </article>
</div>

<div class="modal">
    <div class="modal-content">
        <div>
            <h2>Confirm Delete</h2>
            <h2>
                <span id="sprint_url"></span>
            </h2>
            <br>
            <a href="../delete_repo/" id="confirm" class="button modal-button">
                <button>Confirm</button>
            </a>
            <button id="cancel" class="button modal-button hide_modal_button">Cancel</button>
        </div>
    </div>
    <button class="close hide_modal_button" aria-label="close">X</button>
</div>

<script src="{% static '/migrator_app/js/validate_repo.js' %}"></script>
<script src="{% static '/migrator_app/js/delete_modal.js' %}"></script> {% endblock %}