{% extends "../layout.html" %} {% load static %} {% block content %}

<link href="{% static '/migrator_app/css/modal.css' %}" rel='stylesheet' type='text/css' />

<br>
<div>
  <article>
    <h1>Sprint Details</h1>
    <p>Title: {{ sprint.name }}</p>
    <p>Source:
      <a target="_blank" class="sr-{{sprint.id}}" href="{{ sprint.source_repo.url }}">{{ sprint.source_repo.url }}</a>
    </p>
    <h2>Issues (groomed)</h2>
    <hr> {% for issue in issues %}
    <p>#{{issue.number}} : {{issue.title}}</p>
    {% endfor %}
    <hr>
    <p>Actions:</p>
    <a href="../migrate/{{sprint.id}}">Migrate</a>
    <span> | </span>
    <a href="#" id="{{sprint.id}}" class="_delete">Delete</a>
  </article>
</div>

<div class="modal">
  <div class="modal-content">
    <div>
      <h2>Confirm Delete</h2>
      <h2>
        <span id="sprint_url"></span>
      </h2>
      <br>
      <a href="../delete_sprint/" id="confirm" class="button modal-button">
        <button>
          Confirm
        </button>
      </a>
      <button id="cancel" class="hide_modal_button">Cancel</button>
    </div>
  </div>
  <button class="close hide_modal_button" aria-label="close">X</button>
</div>

<script src="{% static '/migrator_app/js/delete_modal.js' %}"></script> {% endblock %}