{% extends "./layout.html" %}

{% block content %}

<br>
<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-dark">
                    <p class="title">Backlog</p>
                    <hr>
                    <p class="subtitle">Title: {{ backlog.name }}</p>
                    <p class="subtitle">Source: {{ backlog.source_repo.url }}</p>
                    <hr>
                    <p>Actions:</p>
                    <a href="../migrate/{{backlog.id}}">Migrate</a>
                    <span> | </span>
                    <a href="../delete/{{backlog.id}">Delete</a>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-info">
                     <p class="title">Issues (groomed)</p>
                     <hr>
                    {% for issue in issues %}
                    <p class="subtitle">{{issue.number}} : {{issue.title}}</p>
                    {% endfor %}
              </article>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
