{% extends "../layout.html" %} {% load static %} {% block content %}

<link href="{% static '/migrator_app/css/modal.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static '/migrator_app/css/drag.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static '/migrator_app/node_modules/dragula/dist/dragula.min.css' %}" rel='stylesheet' type='text/css' />

<h1>Drag and drop issues to groom sprint</h1>
<h3>Source Repository :</h3>
<div>
    <div>{{source_repo.url}}</div>
</div>
<br>
<!-- Creates groomed sprint for saving to database -->
<form action="javascript:void(0);" onsubmit="on_submit()">
    {% if issues %}
    <!-- List of things in 'context' object in drag_view.html  -->
    {% csrf_token %}
    <h3> Sprint Name :</h3>
    <input class="input" type="text" id="sprint_name" name="sprint_name" placeholder="Bangazon Web API" required>

    <div class="drag_and_drop_container">
        <div id="dragBoxLeft" class="dragula_box"></div>
        <div id="dragBoxRight" class="dragula_box">
            {% for issue in issues %}
            <div id="{{ issue.github_id }}" class='issue'>
                <div>
                    {{ issue.issue_number }} : {{ issue.issue_title }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <input id="submit_button" type="submit" value="Save Sprint">

    <br>
    <input type="hidden" id="source_repo" name="source_repo" value="{{source_repo.id}}">
    <br>

</form>
{% else %}
<h2 ">No issues are available.</h2>
{% endif %}

<div class="modal ">
    <div class="modal-content ">
        <div>
            <h2>Sprint Saved</h2>
            <br>
            <button id="home_button ">Home</button>
            <button id="create_button ">Create Additional</button>
            <button id="migrate_button ">Migrate</button>
        </div>
    </div>
    <button class="close hide_modal_button " aria-label="close ">X</button>
</div>

<script type="text/javascript " src="{% static '/migrator_app/node_modules/dragula/dist/dragula.min.js' %} "></script>
<script type="text/javascript " src="{% static '/migrator_app/js/drag_drop.js' %} "></script> {% endblock %}