{% extends "./layout.html" %}
{% load static %}

{% block content %}

<link href="{% static '/migrator_app/drag.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static '/migrator_app/node_modules/dragula/dist/dragula.min.css' %}" rel='stylesheet' type='text/css' />

<h1 class="is-size-2">Drag and drop issues to groom backlog</h1>
<br>
<h3>Source Repo :</h3>
<div class="card has-background-dark has-text-white is-size-4">
    <div class="card-content ">{{source_repo.url}}</div>
</div>
<br>
<!-- Creates groomed backlog for saving to database -->
<form action="javascript:void(0);" onsubmit="on_submit()">
    {% csrf_token %}
    <h3> Backlog Name :</h3>
    <input class="input" type="text" id="backlog_name" name="backlog_name" placeholder="Bangazon Web API" required>

{% if issues %}  <!-- List of things in 'context' object in drag_view.html  -->
    <div class="drag_and_drop_container container has">
        <div id="dragBoxLeft" class="box dragula_box has-background-dark"></div>
        <div id="dragBoxRight" class="box dragula_box has-background-info">
            {% for issue in issues %}
                <div id="{{ issue.github_id }}" class='card issue'>
                    <div class="card-content">
                            {{ issue.issue_number }} : {{ issue.issue_title }}
                    </div>
                </div>
            {% endfor %}
        </div>
{% else %}
        <p>No issues are available.</p>
{% endif %}
    </div>

    <br>
    <input type="hidden" id="source_repo" name="source_repo" value="{{source_repo.id}}">
    <input id="submit_button" class="button is-dark is-large" type="submit" value="Save Backlog">
</form>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box has-background-dark has-text-white has-text-centered">
            <h2 class="is-size-1-desktop">Backlog Saved</h2>
            <br>
            <button id="home_button" class="button modal-button">Home</button>
            <button id="create_button" class="button modal-button">Create Additional</button>
            <button id="migrate_button" class="button modal-button">Migrate</button>
        </div>
    </div>
    <button id="modal-close" class="modal-close is-large has-background-dark" aria-label="close"></button>
  </div>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static "/migrator_app/node_modules/dragula/dist/dragula.min.js" %}"></script>
<script type="text/javascript" src="{% static "/migrator_app/drag_drop.js" %}"></script>

{% endblock %}