{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="apple-touch-icon" sizes="57x57" href="../../static/migrator_app/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../../static/migrator_app/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../../static/migrator_app/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../../static/migrator_app/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../static/migrator_app/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../../static/migrator_app/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../../static/migrator_app/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../../static/migrator_app/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../../static/migrator_app/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../../static/migrator_app/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../static/migratpr_app/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../../static/migratpr_app/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../static/migratpr_app/favicon/favicon-16x16.png">
  <link rel="manifest" href="../../static/migrator_app/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="../../static/migrator_app/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSS - Issue Migrator</title>
  <link rel="stylesheet" href="{% static '/migrator_app/node_modules/bulma/css/bulma.min.css'%}">
  <link rel="stylesheet" href="{% static '/migrator_app/main.css'%}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <script src="{% static '/migrator_app/main.js' %}"></script>
</head>

<body>
  <section class="hero is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Instructor Issue Migrator
        </h1>
        <h2 class="subtitle">
          A github
          <sup style="font-size: 10px">&copy;</sup> automator
        </h2>
        <!-- user not token authenticated div -->
        <div id="auth_false_show" class="header--auth hidden">
          <div id="ErrorHandler" class="notification is-warning is-link is-one-fifth">
              <button id="ErrorMessa  ge" class="delete" onclick='this.parentNode.parentNode.removeChild(this.parentNode); return false;'></button>
            <p>⚠ Core functionality of our site depends on your Personal Access Token from github. Please visit <a href="https://github.com/settings/tokens">your github account settings</a> and follow the instructions to generate a token. Paste it in the box here and submit.</p>
          </div>
          <form onsubmit="return addToken()" id="token_new">
            <label for="token_input_field">Authenticate yourself:</label>
            <br>
            <input type="text" id="token_input_field" placeholder="Click to enter token" pattern="^[a-zA-Z0-9]{40}$" title="Github PAC Tokens are 40 alpha numeric charachters"
              required>
            <button class="button addTokenButton" id="token_field_submit">Add Token</button>
          </form>
        </div>
        <!-- end -->
        <!-- user authenticated, showing a check mark div -->
        <div id="auth_true_show" class="header--auth hidden">
          <h2>
            <strong>Authorized</strong>
            <img src="../../static/migrator_app/auth_checkmark.png" alt="" id="authenticated_user_image"
            height="30px;" width="30px;">
          </h2>
          <br>
          <form onsubmit="return removeToken()" id="token_new">
            <button class="button removeTokenButton" id="token_field_submit">Remove Token</button>
          </form>
        </div>
        <!-- end -->
        <a href="/">
          <img id="bar-img" src="{% static '/migrator_app/nss.svg'%}" alt="">
        </a>
      </div>
    </div>
  </section>
  <div class="container" id="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>