{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ticket Migrator</title>
    <link rel="stylesheet" href="{% static '/migrator_app/node_modules/bulma/css/bulma.min.css'%}">
    <link rel="stylesheet" href="{% static '/migrator_app/main.css'%}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-dark is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Ticket Migrator
            </h1>
            <h2 class="subtitle">
              A github automator
            </h2>
            <a href="/"><img id="bar-img" src="../../static/migrator_app/nss_full.jpeg" alt=""></a>
          </div>
        </div>
      </section>
      <div class="container" id="content">
        {% block content %}{% endblock %}
    </div>
  </body>
</html>