 {% extends "../layout.html" %} {% load static %} {% block content %}

<link href="{% static '/migrator_app/css/modal.css' %}" rel='stylesheet' type='text/css' />

<div>
    <h1>Sprint Name : {{ sprint.name }}</h1>
    <h2>Sprint Source Repository : {{ sprint.source_repo.url }}</h2>
</div>
<hr>
<div class="column">
    <h2>Groomed Issues</h2>
    {% for issue in issues %}
    <div id="{{ issue.github_id }}">
        <div>
            <div>{{issue.number}} : {{issue.title}}</div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- List the issues attached to the sprint -->

<!-- Form to submit details to the server -->
<hr>
<form id="submit" action="../success/{{sprint.id}}" method="post" onsubmit="return set_form_values(this)">
    {% csrf_token %}

    <h2>Enter Target Repository URLs
        <span>
            <a href="#okButton">
                <button class="button" type="button" id="add">+</button>
            </a>
        </span>
    </h2>
    <div id="target_repos_div"></div>
    <br>

    <input type="hidden" id="sprint" name="sprint" value="{{sprint}}">
    <input type="hidden" id="password" name="password" value="">
    <input type="hidden" id="target_repos" name="target_repos" value="">

    <input id="okButton" class="button" form='submit' type="submit" value="OK">
</form>
<hr>

<div id="gifModal" class="modal">
    <div class="ajaxLoading" id="loadingGif">
        <iframe src="https://giphy.com/embed/18pnjPivWerlK" width="500%" height="500%" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
</div>

<script type="text/javascript" src="{% static 'migrator_app/js/migrate.js' %}"></script> {% endblock %}