{% extends "../layout.html" %} {% load static %} {% block content %}

<link href="{% static '/migrator_app/modal.css' %}" rel='stylesheet' type='text/css' />

<h1>{{user.username}}</h1>
<h2>Token</h2>
{% if user.profile.token != "" %}
<form action="./" method="POST">
    {% csrf_token %}
    <input type="hidden" name="token" class="input" value="">
    <input type="submit" class="input" value="DELETE">
</form>
{% else %}
<form action="./" method="POST">
    {% csrf_token %}
    <input type="text" name="token" class="input">
    <input type="submit" class="input" value="SAVE">
</form>
{% endif %}

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box has-background-dark has-text-white has-text-centered">
            <h2 class="is-size-1-desktop">Confirm Delete</h2>
            <h2 class="is-size-5-desktop">
                <span id="backlog_url"></span>
            </h2>
            <br>
            <a href="../delete_repo/" id="confirm" class="button modal-button">Confirm</a>
            <button id="cancel" class="button modal-button hide_modal_button">Cancel</button>
        </div>
    </div>
    <button class="modal-close is-large has-background-dark hide_modal_button" aria-label="close"></button>
</div>

<script src="{% static '/migrator_app/add_source.js' %}"></script>
<script src="{% static '/migrator_app/delete_modal.js' %}"></script> {% endblock %}