{% extends "../layout.html" %} {% load static %} {% block content %}

<link href="{% static '/migrator_app/css/repo_selector.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static '/migrator_app/css/modal.css' %}" rel='stylesheet' type='text/css' />

<!--  -->
<br>
<div >
    <article >
        <p>Create a New Sprint :</p>
        <p>Select a source repository to pull issues from</p>
        <hr>
        <select class="select" id="test">
            {% for choice in choices %}
            <option value={{choice.0}}>{{choice.1}}</option>
            {% endfor %}
        </select>
        <button class="button" onclick="window.location.href=test.value">Select</button>
    </article>
</div>
<div>
    <article>
        <p class="title centered">Saved Sprints</p>
        <hr>
        <ul>
            {% for sprint in sprints %}
            <li class="sprint_list">
                <a id="{{sprint.id}}" class="delete _delete" href="#">Delete</a>
                <span class="sr-{{sprint.id}}">{{ sprint.name }}</span>
                <span >
                    <a href="./migrate/{{sprint.id}}">Migrate</a>
                    <span> | </span>
                    <a href="./details/{{sprint.id}}">Details</a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </article>
</div>
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box has-background-dark has-text-white has-text-centered">
            <h2>Confirm Delete</h2>
            <h2>
                <span id="sprint_url"></span>
            </h2>
            <br>
            <a href="./delete_sprint/" id="confirm" class="button modal-button">Confirm</a>
            <button id="cancel" class="button modal-button hide_modal_button">Cancel</button>
        </div>
    </div>
    <button class="modal-close hide_modal_button" aria-label="close"></button>
</div>

<script src="{% static '/migrator_app/js/delete_modal.js' %}"></script> {% endblock %}