{% extends "./layout.html" %}
{% load static %}
{% block content %}

<!--  -->
<br>
<div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-dark">
            <p class="title has-text-centered">Create a New Sprint :</p>
            <p class="has-text-centered">Select a source repository to pull issues from</p>
             <hr>   
                 <select class="select is-rounded is-medium" id="test">
                     {% for choice in choices %}
                        <option value={{choice.0}}>{{choice.1}}</option>
                     {% endfor %}
                </select>
            <button class="button is-white is-medium is-pulled-right" onclick="window.location.href=test.value">Select</button>
            </article>
        </div>
<div class="tile is-parent">
        <article class="tile is-child notification is-info">
            <p class="title centered has-text-centered">Saved Sprints</p>
            <hr>   
            <ul>
                {% for backlog in backlogs %}
                <li>
                    <a id="{{backlog.id}}" class="delete _delete" href="#">Delete</a>
                    <span class="is-size-4 sr-{{backlog.id}}">{{ backlog.name }}</span>
                    <span class="is-pulled-right">
                        <a href="./migrate/{{backlog.id}}">Migrate</a>
                        <span> | </span>
                        <a href="./details/{{backlog.id}}">Details</a>
                    </span>
                </li>
                {% endfor %}
            </ul>
      </article>
    </div>
    <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box has-background-dark has-text-white has-text-centered">
                    <h2 class="is-size-1-desktop">Confirm Delete</h2>
                    <h2 class="is-size-5-desktop"><span id="backlog_url"></span></h2>
                    <br>
                    <a href="./delete_backlog/" id="confirm" class="button modal-button">Confirm</a>
                    <button id="cancel" class="button modal-button hide_modal_button">Cancel</button>
                </div>
            </div>
            <button class="modal-close is-large has-background-dark hide_modal_button" aria-label="close"></button>
        </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>        
<script src="{% static '/migrator_app/delete_modal.js' %}"></script>
        
 
{% endblock %}
          