{% load static %}

<div>
    <select id="test">
        {% for choice in choices %}
            <option value={{choice.0}}>{{choice.1}}</option>
        {% endfor %}
    </select>
    <button onclick="window.location.href=test.value">Click</button>
</div>
<div>
    <ul>
        {% for backlog in backlogs %}
            <li>
                <span>{{ backlog.name }}</span>
                <span>
                    <a href="./migrate/{{backlog.id}}">Migrate</a>
                    <span> | </span>
                    <a href="./details/{{backlog.id}}">Details</a>
                </span>
            </li>
        {% endfor %}
    </ul>
</div>
