.drag_and_drop_container {
  display: flex;
  justify-content: space-around;
}

.dragula_box {
  width: 48%;
  margin-top: 20px;
  background-color: lightgray;
  border: solid 1px black;
}

.issue {
  height: 80;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.86);
  border-radius: 5px;
  padding: 5px;
}

.card-content {
  padding: 0.4rem;
}
