.drag_and_drop_container {
    display: flex;
    justify-content: space-evenly
}
/* 
#dragBoxLeft {
    background-color: goldenrod;
}

#dragBoxRight {
    background-color: firebrick;
}

.issue {
    background-color:rgba(255,255,255,.5);
    padding: 5px;
    border-radius: 5px;
    margin: 5px
} */

.modal-background {
    background-color: rgba(255,255,255,.86)
}

.modal-button {
    padding: 0 30px;
    margin: 0 px;
}