.drag_and_drop_container {
    display: flex;
    justify-content: space-between;
}

.modal-background {
    background-color: rgba(255,255,255,.86)
}

.dragula_box {
    width: 48%;
    margin-top: 20px;
}

.modal-button {
    padding: 0 30px;
    margin: 0 px;
}

.issue {
    height: 80;
    margin-top: 10px;
    background-color: rgba(255,255,255,.86);
    border-radius: 5px;
}

.card-content {
    padding: .4rem;

}