.ajaxLoading {
    position: absolute;
    left: 25%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 75px 0 -75px;
    border-radius: 50px;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#bar-img {
    float: right; 
    margin-top: -125px; 
    margin-bottom: -20px; 
    padding: -50px;
    height: 128px;
    width: 128px;
}

.target_repos_inputs {
    margin: 5px;
}

#authenticated_user_image {
    height: 32px;
    width: 32px;
    float: left ;
}